{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reserve.css' %}">
<div class="frame_confirm">
    {% if validlink %}
        <div class="change-container">
        <p class="up">Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="errors">{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td >{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td class="errors">{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button  type="submit" class="btn">Change</button></td>
                </tr>
            </table>
        </form>
        </div>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
