{% extends 'base.html' %}
{% load static %}


{% block title %}Account{% endblock %}

{% block content %}
<aside>
    <div class="container">
    <div class="row">
    <section>
        <div class="col-2">

          <h4>Name: {{ user.first_name }}</h4>
            <h4>Surname: {{ user.last_name }}</h4>
            <h4>Username: {{ user.username }}</h4>
            <a class="btn" href = "{% url 'change_password' %}">Change Password</a>

        </div>
    </section>
        <section>
            <div class="col-2">
                {% for receipt, list in dict_receipts.items %}
            <div class="form-container-orders">
            <h4>Order number: {{ receipt.id }}</h4>
{#            {% if receipt.status == "Accepted" %}#}
{#            <a href="{% url 'cancel' receipt.id %}"><img src="{% static 'images/cancel.jpg' %}" width="30px"#}
{#                                                         height="50px" /></a>#}
{#            {% endif %}#}
{#            <p>{{receipt.toy.name}} x {{receipt.count}}</p>#}
                {% for i in list %}
            <p>{{ i.count }} x {{ i.name }}</p>
                    {%  endfor  %}
            <p> Status: {{receipt.status}}</p>
            <p> $ {{receipt.amount}}</p>
            </div>
                {% endfor %}
            </div>

        </section>
        </div>
    </div>
</aside>
{% endblock %}