{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}

   <div class="account-page">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img src="{% static 'images/image1.png' %}" width="100%" />
          </div>
          <div class="col-2">
            <div class="form-container">
              <div class="form-btn">
                <span>Change Password</span>
              </div>
              <form action=" " method="post" name="form">
                  {% csrf_token %}
                <input type="password" placeholder="Old Password" name="old_password"  required/>
                <input type="password" placeholder="New Password" name="new_password1" required/>
                <input type="password" placeholder="Repeat New Password" name="new_password2" required/>
                <button type="submit" class="btn">Change</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}