{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}



{% block content %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
<section>



<div class="account-page">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img src="{% static 'images/image1.png' %}" width="100%" />
          </div>
          <div class="col-2">

            <div class="form-container-delivery">
              <div class="form-btn">
                <span>Indicate where to deliver</span>

                  </div>

<form action = "" method="post">
  {% csrf_token %}
  <input type="text" name="phone" maxlength="200" required id="id_phone" placeholder="Phone">
  <input type="text" name="address" maxlength="200" required id="id_address" placeholder="Address">
<input type="submit" class="btn" value="Confirm">
</form>
       </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}